.pill{
    padding: 8px;
    background-color: #89AAE6;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    list-style: none;
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pillCloseButton{
    cursor: pointer;
    font-weight: bold;
    margin-left: 8px;
}